{% extends 'layout.html' %}

{% block content %}
<main class="page">
    <header class="page-header">
        <h1>Edit Template</h1>
    </header>

    <section role="content" ng-controller="EditController as vm">
      <div class="xkcd" ng-if="vm.xkcdData">
        {% verbatim %}
        <h2>{{vm.xkcdData.title}}</h2>
        <img src="" ng-src="{{vm.xkcdData.img}}" ng-alt="{{vm.xkcdData.data}}" />
        {% endverbatim %}
      </div>
      <form action="" class="" method="POST">
        <div class="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.ctx }}
            <div class="form-group">
                {{ form.comment.label_tag }}
                {{ form.comment }}
                <p class="help-text">{{ form.comment.errors }}</p>
            </div>
            <div class="form-group">
                {{ form.xkcd_num.label_tag }}
                {{ form.xkcd_num }}
                <p class="help-text">{{ form.xkcd_num.errors }}</p>
            </div>
        </div>

        <div class="navbar navbar-form">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </section>


</main>
{% endblock %}
